mat-card {
  width: 50%;
  position: relative;
  margin-top: 50px;
  bottom: 50%;
  left: 25%;
}

mat-form-field {
  width: 100%;
  position: relative;
  left: 10%;
}

.mat-flat-button {
  position: relative;
  margin: 10px;
}
