<div class="card-control">
  <h1>Willkommen zur Lenkerkonfiguration!</h1>
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="login-form">
        <table class="login-full-width" cellspacing="0">
          <mat-form-field>
            <input matInput placeholder="Username" name="username" required>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Passwort" name="password" required>
          </mat-form-field>
        </table>
        <mat-card-actions align="end">
          <button mat-flat-button type="submit" class="mat-flat-button" color="primary" (click)="onLogin()">Login</button>
          <button mat-flat-button type="button" class="mat-flat-button" (click)="onCreateNewAccount()">Noch keinen Account?</button>
        </mat-card-actions>

      </form>
    </mat-card-content>
  </mat-card>
</div>


