::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: deeppink !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: deeppink !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: deeppink !important;;
}

mat-list-item {
  background-color: lightsalmon;
  width: 50%;
}
