<div class="form-group">
  <form #form="ngForm">

    <div>
      <ng-container *ngFor="let lenkertyp of lenkertypen">
        <button mat-flat-button (click)="onSelectLenker(lenkertyp)" (change)="onChange(lenkertyp)">{{lenkertyp}}</button>
      </ng-container>
    </div>

    <div>
      <ng-container *ngFor="let material of materialien">
        <button mat-flat-button (click)="onSelectMaterial(material)" (change)="onChange(material)">{{material}}</button>
      </ng-container>
    </div>

    <div>
      <ng-container *ngFor="let schaltung of schaltungen">
        <button mat-flat-button (click)="onSelectSchaltung(lenkertyp)" (change)="onChange(schaltung)">{{schaltung}}</button>
      </ng-container>
    </div>

    <div>
      <ng-container *ngFor="let griff of griffe">
        <button mat-flat-button (click)="onSelectGriff(griff)" (change)="onChange(griff)">{{griff}}</button>
      </ng-container>
  </div>

  </form>
</div>



